// 定义全局变量
@gray-10: #262626;
@gray-7: #8c8c8c;
@gray-6: #bfbfbf;
@gray-5: #d9d9d9;
@gray-4: #f0f0f0;
@red-6: #f5222d;
@red-7: #cf1322;
@volcano-8 :#ad2102;
@volcano-7 :#d4380d;

@font26: 26px;
@font24: 24px;
@font22: 22px;
@fontt20: 20px;
@font18: 18px;
@font16: 16px;
@font14: 14px;
@fontt12: 12px;
